body
    {
    margin: 0;
    padding: 0;
    }

    /* start with all the elements hidden, show them with code as needed */
#BackgroundCanvas, #MainCanvas, #GameMenu, #MainMenu
    {
    visibility: hidden;
    }

#MainCanvas, #BackgroundCanvas
    {
    padding: 0;
    margin: 0;
    }

#MainCanvas
    {
    position: absolute;
    top: 0;
    left: 0;
    }

#MainMenu
    {
    position: absolute;
    text-align: center;
    }

.button
    {
    cursor: pointer;
    }