html, body
    {
    overflow: visible;  /* is hidden by default when running as a chrome app */
    }

body
    {
    margin: 0;
    padding: 0;
    color: #999b9d;
    background-color: #010713;
    font-size: 24px;
    }

ul
    {
    list-style-type: none;
    padding: 0;
    }

    /* start with all the elements hidden, show them with code as needed */
#BackgroundCanvas, #MainCanvas
    {
    visibility: hidden;
    }

#MainMenu, #HighScore, #GameMenu
    {
    display: none;
    }

#CanvasContainer
    {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 48, 57);
    width: 1024px;
    height: 1024px;
    margin: 0 auto;
    }

#MainCanvas, #BackgroundCanvas
    {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    }

#MainMenu
    {
    text-align: center;
    font-size: 30px;
    }

#PracticeMaps
    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    }

#PracticeMaps > *
    {
    margin: 5px;
    }

#GameMenu
    {
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    background-color: rgb(39, 48, 57);
    width: 200px;
    position: absolute;
    top: 0;
    right: -200px;
    height: 100%;
    }

#MenuMessage
    {
    visibility: hidden;
    }

#PartName
    {
    color: rgb(206, 132, 4);
    }

#HighScore table td
    {
    text-align: center;
    min-width: 50px;
    }

.button
    {
    cursor: pointer;
    color: rgb(151, 183, 209);
    }

.button:hover
    {
    color: #617f99;
    }